<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GA_DetailsViewByContext.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCD66DC71CEAB84A00024BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCD66DDB1CEAB84B00024BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCD66DE61CEAB84B00024BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
